body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ag-theme-alpine .header-center {
  justify-content: center !important;
  text-align: center; /* 가운데 정렬 */
  font-weight: bold; /* 텍스트 굵게 */
  vertical-align: middle; /* 수직 가운데 정렬 */
}
